.ai{
    @include flex-left;
    background-color: $Yellow500;
    height: 275px;

    img{
        height: 200px;
        width: 60%;
    };

    @media (min-width:$Laptop){
        grid-area: 4/1/7/2;
        @include size;

        img{
            height: 65%;
            width: 80%;
        }
    }
}