.post{
    @include flex-left;
    background-color: $Yellow100;
    height: 150px;

    span{
        color: $Purple500;
    }

    img{
        height: 70px;
        width: 40%;
    }

    @media (min-width:$Laptop){
        grid-area: 1/1/4/2;
        @include size;

        img{
            height: 30%;
            width: 80%;
        }
    }
}