.social-media{
    @include flex;
    background-color: $Purple100;
    height: 500px;

    img{
        width: 100%;
        height: 300px;
    }

    @media (min-width:$Laptop){
        grid-area: 1/4/5/5;
        @include size;
    }
}